body {
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  color: #830981bc;
  font-size: 45px;
}

.title {
  text-align: center;
  color: #62075c;
  font-size: 30px;
  font-weight: lighter;
}

.section-h2 {
  padding-top: 56px !important;
  text-align: left;
  color: #841176;
  text-decoration: double;
  font-size: 2em;
}

h2 {
  text-align: left;
  color: #841176;
  text-decoration: double;
  font-size: 2em;
}

header {
  position: relative;
  margin-top: 55px;
  font-size: 20px;
}

.nav-pills .nav-link {
  color: violet;
  font-size: 25px;
}

#background {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(tlo5.jpg) no-repeat 50% 50%;
  background-size: cover;
  opacity: 0.5;
}

#header-content::before {
  padding: 100px 100px;
}

#header-content {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(255, 255, 255, 0.2);

  position: relative;
  padding: 50px;
  text-align: center;
  overflow: hidden;
}

#header-content ul {
  list-style: none;
}

header>img {
  border: 10px double #cbc6d1cc;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgb(235, 26, 207);
  transition: 1s;
}

.skills span {
  border: 1px solid #82055d;
  padding: 5px 10px;
  margin: 5px;
  color: #82055d;
  ;
  display: inline-block;
  border-radius: 5px;
  font-size: 18px;
}

.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navbar-custom {
  background-color: #eeceddd4;
}

.nav-link {
  font-size: 20px;
  color: #82055d;
  text-decoration: double;
}

.v-spacer {
  height: 44px;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-spacer hr {
  border: none; 
  border-top: 4px dotted #a01f9c;
  width: 100%;
}

.horizontal-margin {

  margin-left: 40px;
  margin-right: 40px;

}

img {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  text-align: center;
}

.grid-item {
  margin: 10px;
}

footer {
  background-color: #faf1ffd4;
  padding: 5px;
  text-align: center;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row-reverse; 
  align-items: center; 
}
.container img {
  margin-left: 10px; 
}